In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv("data.csv", dtype=str)

In [24]:
df.columns

Index(['_id', 'title', 'author', 'yearPublishedAt', 'publisher',
       'imageURL_small', 'imageURL_medium', 'imageURL_large'],
      dtype='object')

In [25]:
df["title"][df["title"].apply(lambda x: '"' in x)]

Series([], Name: title, dtype: object)

In [26]:
df['imageURL_small'] = df['imageURL_small'].apply(lambda x: 'undefined' if 'http' not in str(x) else x)

In [27]:
df['imageURL_medium'] = df['imageURL_medium'].apply(lambda x: 'undefined' if 'http' not in str(x) else x)

In [28]:
df['imageURL_large'] = df['imageURL_large'].apply(lambda x: 'undefined' if 'http' not in str(x) else x)

In [29]:
def isNumber(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

In [30]:
df['yearPublishedAt'][df['yearPublishedAt'].isnull()]

29814     NaN
42662     NaN
90872     NaN
118785    NaN
132017    NaN
156697    NaN
182227    NaN
192261    NaN
235939    NaN
261623    NaN
269723    NaN
Name: yearPublishedAt, dtype: object

In [31]:
df['yearPublishedAt'] = df['yearPublishedAt'].apply(lambda x: 'Undefined' if not isNumber(x) else x)

In [32]:
df['yearPublishedAt']

0         2002
1         2001
2         1991
3         1999
4         1999
          ...
271374    1988
271375    1991
271376    2004
271377    1996
271378    2000
Name: yearPublishedAt, Length: 271379, dtype: object

In [33]:
df = df.dropna()

In [34]:
# Checking for null values
NullData = df.isnull().sum().sort_values(ascending=False)
NullData[NullData != 0]

Series([], dtype: int64)

In [35]:
df.to_csv("output.csv", index=False)